/* Headings base */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		sans-serif;
	font-weight: 600; /* semibold por defecto */
	line-height: 1.2;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	color: inherit;
}

/* Escala recomendada */
h1 {
	font-size: 2.25rem;
} /* 36px */
h2 {
	font-size: 1.875rem;
} /* 30px */
h3 {
	font-size: 1.5rem;
} /* 24px */
h4 {
	font-size: 1.25rem;
} /* 20px */
h5 {
	font-size: 1rem;
} /* 16px */
h6 {
	font-size: 0.875rem;
} /* 14px */

/* Opcional: espaciamiento consistente para contenido siguiente */
h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
	margin-top: 0.5rem;
}

p {
	@apply text-base;
}
