---
// src/components/ui/Section.astro

interface Props {
	id: string;
	class?: string;
}

const { id, class: className = '' }: Props = Astro.props;
---

<section id={id} class={`py-16 ${className}`}>
	<div class="mx-auto max-w-5xl px-4 md:w-5/6 lg:w-auto">
		<slot />
	</div>
</section>
